.form {
	background: site-color('day');
	border-radius: 10px;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 60px;
	padding-bottom: 30px;
	position: relative;

	.request {
		color: site-color('primary');
		float: right;
		font-size: 0.65em;
	} // .request

	.req {
		color: site-color('primary');
		float: none;
	} // .req

	&_section-1 {
		clear: both;
		padding-top: 30px;
	} // _section-1

	form {
		h3 {
			background: site-color('primary');
			color: site-color('day');
			font-size: 1.15em;
			padding: 10px;
		} // h3

		label {
			&.a1name {
				font-weight: weight('bold');
				span {
					display: block;
					font-weight: weight('regular');
				} // span
			} // a1name

			em {
				color: lighten(site-color('night'), 60);
			} // em

			&.error {
				color: site-color('primary');
				font: {
					size: 0.85em;
					style: italic;
				} // font
				// float: right;
			} // .error
		} // label

		.input {
			margin-bottom: 20px;
		} // .input

		.associate {
			&:not(:last-child) {
				margin-bottom: 60px;
			} // :not(:last-child
		} // associate

		input {
			background: transparent;
			border: 0;
			border-bottom: 1px solid lighten(site-color('night'), 70);
			display: block;
			padding: 10px;
			width: 100%;

			&[type="checkbox"], &[type="radio"] {
				display: inline-block;
				margin-right: 10px;
				padding: 0;
				width: auto;
			} // [checkbox="checkbox"], [checkbox="radio"]

			&[type="submit"] {
				background: site-color('primary');
				border-bottom: 0;
				color: site-color('day');
				padding: 10px 20px;
			} // [type="submit"]
		} // input
	} //  form

	@include retina(iPhonel) {
		&_section-1,
		&_section-3 {
			display: flex;
			flex-wrap: wrap;

			.input {
				flex: 1 0 auto;
				width: calc(100% / 12 * 6 - 10px);

				&:not(:nth-child(2n)) {
					margin-right: 20px;
				} // :not(:nth-child(2n))

				&:last-child {
					margin-right: 0;
				} // :last-child
			} // .input
		} // _section-1, _section-3

		&_section-3 {
			flex-wrap: nowrap;
		} // &_section-3

		form {
			.input {
				.choice_wrap {
					display: flex;
					flex-wrap: wrap;

					.choices {
						width: calc(100% / 12 * 6 - 10px);

						&:not(:nth-child(2n)) {
							margin-right: 20px;
						} // :not(:nth-child(2n))

						&-odd {
							width: calc(100% / 12 * 4 - 20px);
						} //-odd
					} // .choices
				} // .choice_wrap
			} // .input

			.associate {
				display: flex;
				flex-direction: column;
				width: calc(100% * 12 / 6 - 20px);

				&:not(:last-child) {
					margin-bottom: 0;
					margin-right: 20px;
				} // :not(:last-child)

				.input {
					flex: 0 0 auto;
					width: 100%;
				} // .input
			} // .associate
		} // form
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		&_section-1,
		&_section-3 {
			display: flex;
			flex-wrap: wrap;

			.input {
				flex: 1 0 auto;
				width: calc(100% / 12 * 6 - 10px);

				&:not(:nth-child(2n)) {
					margin-right: 20px;
				} // :not(:nth-child(2n))

				&:last-child {
					margin-right: 0;
				} // :last-child
			} // .input
		} // _section-1, _section-3

		&_section-3 {
			flex-wrap: nowrap;
		} // &_section-3

		form {
			.input {
				.choice_wrap {
					display: flex;
					flex-wrap: wrap;

					.choices {
						width: calc(100% / 12 * 6 - 20px);

						&:not(:nth-child(2n)) {
							margin-right: 20px;
						} // :not(:nth-child(2n))

						&-odd {
							width: calc(100% / 12 * 4 - 20px);
						} //-odd
					} // .choices
				} // .choice_wrap
			} // .input

			.associate {
				display: flex;
				flex-direction: column;
				width: calc(100% * 12 / 6 - 20px);

				&:not(:last-child) {
					margin-bottom: 0;
					margin-right: 20px;
				} // :not(:last-child)

				.input {
					flex: 0 0 auto;
					width: 100%;
				} // .input
			} // .associate

			input {
				&[type="submit"] {
					margin-left: auto;
					margin-right: auto;
					width: auto;
				} // [type="submit"]
			} // input
		} // form
	} // bp($tablet)
} // .form

.mfp-close-btn-in {
	.mfp-close {
		background: site-color('primary');
		border-radius: 50%;
		color: site-color('day');
		top: 10px;
		right: 10px;
	} // .mfp-close
} // .mfp-close-btn-in